{% extends "base.html" %}
{% load static %}
{% block content %}
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image: url('{% static 'img/testimonial/test-bg.png' %}');">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Our Events</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">events</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
			<!-- shop-area -->
            <section class="shop-area pt-120 pb-120 p-relative " style=" background-image: url(img/bg/blog-bg-aliments.png); background-repeat: no-repeat; background-position: center center;background-attachment: fixed;">
                <div class="container">					
                    <div class="row align-items-center">

                        {% for event in events %}
                        <div class="col-lg-4 col-md-6">
                            <div class="product couress-box mb-40">
                                <div class="product__img">
                                    <a href="courses-details.html"><img src="{{event.image.url}}" alt=""></a>

                                </div>
                                <div class="product__content pt-30">
                                   


                                     <div class="price">
                                       At {{event.venue}} 
                                    </div>
                                    <h4 class="pro-title"><a href="courses-details.html">{{event.name}}</a></h4>
                                    <p>{{event.description}} </p>
                                    <ul class="course-meta desc">

                                        <li style="">
                                            <h6>Start time </h6>
                                        <span> {{event.start_time}}</span>

                                        </li>
                                        <li style="">
                                            <h6>End time</h6>
                                            <span> {{event.end_time}}</span>

                                        </li>

                                    </ul>

                                </div>
                            </div>
                        </div>

                        {% endfor %}




                        
                                 
                    </div>
            </div></div>
                </div>
            </section>
            <!-- shop-area-end -->
        
         
        </main>
        <!-- main-area-end -->
        {% include 'pages/footer.html' %}
       {%endblock%}