{% extends "base.html" %}
{% load static %}
{% block content %}
  
    <main>
   
    <!-- /search-popup -->
        <!-- slider-area -->

        <div style="margin-top:100px;" id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(23).webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


        <section id="home" >
           
            <div class="">
            <div class="" >
                    <div class="container"> 
                       <div class="row justify-content-center pt-50  pb-150">
                            <div class="col-lg-12">
                                
                    
                            </div>
                            
                        </div>
                    </div>
                </div>
            
                
                </div>
                
           
        </section>
        <!-- slider-area-end -->
        <!-- about-area -->
        <section id="about" class="about-area about-p pt-70 pb-120 p-relative" style=" center center;">
            <div class="container">
                <div class="row align-items-center">
                     <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                        <div class="s-about-img p-relative  wow fadeInLeft  animated"   data-animation="fadeInLeft" data-delay=".4s">
                            <img src="{{info.principal_image.url}}" alt="img">    
                        </div>
                      
                    </div>
                    
                <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                            <div class="about-title second-atitle pb-25">   
                                <h5 style="color:#00008B;">Message from Principal</h5>
                                <h2 style="color:#00008B;">{{info.principal_name}}</h2>   
                            </div>
                            
                            {% for principal in principal_message %}
                                <p style="text-align: justify;">{{principal.principal_message}}</p>
                            {% endfor %}

                        <h4><a href="{% url 'basic:principal_message' %}">Learn more...</a></h4>
                           
                            <div class="about-content3">
                                <div class="row">
                                <div class="col-md-12">
                                 <ul class="green">
                                       </ul>
                                </div>
                                
                                </div>
                                
                            
                            </div>
                          
                           <div class="slider-btn mt-10">                                          
                                    </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>
        
        
        <!-- Message from director -->
        
        <section id="about" class="about-area about-p pt-70 pb-120 p-relative" style=" center center;">
            <div class="container">
                <div class="row align-items-center">
                     <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                        <div class="s-about-img p-relative  wow fadeInLeft  animated"   data-animation="fadeInLeft" data-delay=".4s">
                            <img src="{{info.director_image.url}}" alt="img">    
                        </div>
                      
                    </div>
                    
                <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content s-about-content  wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                            <div class="about-title second-atitle pb-25">   
                                <h5 style="color:#00008B;">Message from Director</h5>
                                <h2 style="color:#00008B;">{{info.director_name}}</h2>   
                            </div>
                            
                           
                            {% for director in director_message %}
                                <p style="text-align: justify;">{{director.director_message}}</p>
                            {% endfor %}

                        <h4><a href="{% url 'basic:director_message' %}">Learn more...</a></h4>
                           
                           
                            <div class="about-content3">
                                <div class="row">
                                <div class="col-md-12">
                                 <ul class="green">
                                       </ul>
                                </div>
                                
                                </div>
                                
                            
                            </div>
                          
                           <div class="slider-btn mt-10">                                          
                                    </div>
                        </div>
                    </div>
                 
                </div>
            </div>
        </section>
        <!-- about-area-end -->
        

        
         <!-- featured-courses-area -->          
        <section id="courses" class="courses-area fix"  >
            <div class="container-fluid">
                <div class="row">   
                    <div class="col-lg-12">
                        <div class="section-title center-align text-center mb-50">
                            <h5>Interesting subjects </h5>
                            <h2 style="color:#00008B;">
                            Latest Subjects
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-12 col-md-12">
                         
                       <div class="featured-courses-active">
                           {% for subject in subjects %}
                           <div class="box-courses">
                               <a href="{% url 'basic:news_single' subject.id %}"><img src="{{subject.image.url}}" alt="courses-img1"></a>
                               <div class="text">
                                    <h5>{{subject.class_duration}} hours- {{subject.subject_type}}</h5>
                                   <h3><a href="{% url 'basic:news_single' subject.id %}">{{subject.name}}</a></h3>
                               </div>
                           </div>
                           {% endfor %}

                            
                        </div>
                         
                     
                    </div>
                    
                    
                </div>
            </div>
        </section>
        <!-- featured-courses-area-end -->
         <!-- testimonial-area -->
        <section class="testimonial-area pt-120 pb-120" style=" background-image: url(img/testimonial/test-bg-aliments.png); background-repeat: no-repeat; background-position: center; background-color: #fff7f5;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                      <div class="about-title second-atitle pt-15">            
                                <h5>Our Parents/Students Feedback</h5>                
                                <h2 style="color:#00008B;">
                                   See What Our <br>Client Say’s
                                </h2>   
                            </div>
                       
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="testimonial-active">
                            {% for feedback in feedbacks %}
                            <div class="single-testimonial">
                                 <div class="testi-author">
                                    <img src="{{feedback.image.url}}" alt="img">
                                    <div class="ta-info">
                                        <h6>{{feedback.name}}</h6>
                                        <span>{{feedback.position}}</span>
                                    </div>
                                </div>
                                <p>{{feedback.feedback}}</p>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- testimonial-area-end -->
       
        
        
          <!-- blog-area -->
        <section id="blog" class="blog-area  p-relative pt-120 pb-90 fix" style=" background-image: url(img/bg/blog-bg-aliments.png); background-repeat: no-repeat; background-position: center;">
            <div class="container">
                <div class="row align-items-center"> 
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                        <div class="section-title center-align text-center mb-50">
                            <h5>Our Latest News</h5>
                            <h2 style="color:#00008B;">
                            Latest News Feed
                            </h2>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    {% for news in latest_news %}
                    <div class="col-lg-4 col-md-12">
                        <div class="single-post2 mb-30  wow fadeInDown  animated">
                            <div class="blog-thumb2">
                                <a href="{% url 'basic:news_single' news.id %}"><img src="{{news.image.url}}" alt="img"></a>
                                
                            </div>
                            <div class="blog-content2 text-center">     
                                <div class="b-meta">
                                   <div class="row">
                                         <div class="col-lg-12 col-md-12">
                                             <div class="date-b">
                                                <i class="fal fa-calendar-alt"></i> {{news.created_date}}
                                             </div>
                                          
                                         </div>
                                        
                                     </div>
                                </div>
                                
                                 <div class="row">
                                    <div class="col-lg-12">
                                     <h4><a href="{% url 'basic:news_single' news.id %}">{{news.title}}</a></h4>    
                                       <div class="blog-btn"><a href="{% url 'basic:news_single' news.id %}"><i class="fal fa-chevron-circle-right"></i> Read More</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- blog-area-end -->
      
     
     
    </main>
    <!-- main-area-end -->
{% endblock %}