{% load static %}
<!-- header -->
<header class="header-area header-three">  
    <div id="header-sticky" class="menu-area">
        <div class="container">
            <div class="second-menu">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a href="index.html"><img src="{{info.school_logo.url}}" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8">
                      
                        <div class="main-menu text-right text-xl-right">
                            <nav id="mobile-menu" style="display: block;">
                                <ul>
                                    <li class="sub">
                                        <a href="{% url 'basic:home_page' %}">Home</a>
                                    </li>
                                    <li><a href="{% url 'basic:about_page' %}">About Us</a></li>

                                    <li><a href="{% url 'basic:subject_page' %}">Subject We Teach</a></li>
                                 
                                    <li><a href="{% url 'basic:event_page' %}">Events</a></li>
                                    <li><a href="{% url 'basic:gallery_page' %}">Gallery</a></li>
                                    
                                    <li><a href="{% url 'basic:news_page' %}">News</a></li>                   
                                  
                                    <li><a href="{% url 'basic:contact_page' %}">Contact</a></li>                                               
                                </ul>
                            </nav>
                        </div>
                    </div>   
                    <div class="col-xl-2 col-lg-2 text-right d-none d-xl-block mt-30 mb-30">
                        <div class="search-top2">
                           <ul>
                               
                                <li><a href="#" class="menu-tigger"><i class="fas fa-search"></i></a></li>
                                <li><a href="#" class="menu-tigger"><img src="{% static 'img/icon/menu.png' %}" alt="logo"></a></li>
                            </ul>
                        </div>
                    </div>
                  
                    
                        <div class="col-12">
                            <div class="mobile-menu"></div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header-end -->
<!-- offcanvas-area -->
        <div class="offcanvas-menu">
        <span class="menu-close"><i class="fas fa-times"></i></span>
      <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                        <input type="text" name="s" id="search" value="" placeholder="Search"  />
                        <button><i class="fa fa-search"></i></button>
                    </form>

            
            <div id="cssmenu3" class="menu-one-page-menu-container">
                <ul id="menu-one-page-menu-2" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'basic:about_page' %}">About Us</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'basic:subject_page' %}">Subject We Teach</a></li>
                     <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'basic:event_page' %}">Events </a></li>
                     <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'basic:gallery_page' %}">Gallery</a></li>
                     <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'basic:news_page' %}">News </a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'basic:contact_page' %}">Contact</a></li>
                </ul>
            </div>  
            
            <div id="cssmenu2" class="menu-one-page-menu-container">
                <ul id="menu-one-page-menu-1" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>{{info.phone_number.phone_number}}</span></a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>{{info.email}}</span></a></li>
                </ul>
            </div>                
    </div>
    <div class="offcanvas-overly"></div>
         <!-- offcanvas-end -->