{% extends "base.html" %}
{% load static %}
{% block content %}
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image: url('{% static 'img/testimonial/test-bg.png' %}')">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2 style="color:#04AF70;">Blog</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
            <!-- inner-blog -->
            <section class="inner-blog pt-120 pb-120">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8">

                            {% for n in news %}
                            <div class="bsingle__post mb-50">
                                <div class="bsingle__post-thumb">
                                    <img src="{{n.image.url}}" alt="">
                                </div>
                                <div class="bsingle__content">
                                    <div class="admin">
                                        <a href="#"><i class="far fa-user"></i> by {{n.created_by.name}}</a>
                                    </div>
                                    
                                    
                                    <h2 style="color:#00008B;"><a href="#">{{n.title}}</a></h2>
                                    <p>{{n.description}}</p>
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-calendar-alt"></i> {{n.created_date}}</li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            {% endfor %}

                            
                            
                        </div>
                        <!-- #right side -->
<div class="col-sm-12 col-md-12 col-lg-4">
   <aside class="sidebar-widget">
      <section id="recent-posts-4" class="widget widget_recent_entries">
         <h2 class="widget-title" style="color:#00008B;">Recent Posts</h2>
         <ul>
            {% for news in recent_news %}
            <li>
               <a href="#">{{news.title}}</a>
               <span class="post-date">{{news.created_date}}</span>
            </li>
            {%endfor%}
           
         </ul>
      </section>
      
   </aside>
</div>
<!-- #right side end -->

                    </div>
                </div>
            </section>
            <!-- inner-blog-end -->
      
         
         
        </main>
        <!-- main-area-end -->
       {% endblock %}