{% extends "base.html" %}
{% load static %}
{% block content %}
  
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url('{% static 'img/testimonial/test-bg.png' %}')">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>Subject Details</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
			<!-- Project Detail -->
    <section class="project-detail">
        <div class="container">
            <!-- Lower Content -->
            <div class="lower-content">
                <div class="row">
                    <div class="text-column col-lg-12 col-md-8 col-sm-12">
                        <h2>{{single_news.title}}</h2>
                        <ul class="course-meta review style2 clearfix mb-30">
                            <li class="author">
                                <div class="text">
                                    <a href="#">{{single_news.created_date}}</a>
                                    <p>Created At</p>
                                </div>
                            </li>
                            <li class="categories">
                                <a href="#" class="course-name">{{single_news.created_by.name}}</a>
                                <p>Created By</p>
                            </li>
                          
                        </ul>
                     <div class="upper-box">
                        <div class="single-item-carousel owl-carousel owl-theme">
                            <figure class="image"><img src="{{single_news.image.url}}" alt=""></figure>    
                        </div>
                    </div>
                        
                        <div class="inner-column">
                            <p>{{single_news.description}}</p>
                        </div>
                    </div>
                    
                    
                </div>
                
                
            </div>


        </div>
    </section>
    <!--End Project Detail -->
         
        </main>
       {% endblock %}